header  {
    background-color: #333;
    color: #FFF;
    padding: 10px 0;
}
nav ul  {
    list-style: none;
    display: flex;
    justify-content: center;
}
nav li  {
    margin: 0 20px;
}
nav a   {
    text-decoration: none;
    color: #FFF;
}
body    {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
footer  {
    text-align: center;
    margin: 5px;
    padding: 10px;
    background-color: #333;
    color: #FFF;
}